//// VARIABLES ////
$primary-font-color: #fff;
$secondary-font-color: #58388b;
$secondary-font-color-bright: #d59ffd;
$primary-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$secondary-font-family: 'Times New Roman', Times, serif;
$highlight-color: #d25dda;
$secondary-color: #d59ffd;
