@import 'reset';

//// VARIABLES ////
$font-color: #fff;
$primary-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
  sans-serif;
$highlight-color: #d25dda;
$secondary-color: #d59ffd;
$main-text-size: 4rem;
$site-width: 27rem;
$mobile-display: block;
$desktop-display: none;

//// WRAPPERS ////
.site-wrapper {
  max-width: $site-width;
  margin: 2.5rem auto;
  background: linear-gradient(
    -20deg,
    #be7cf6,
    #9142d8,
    #7b31c1,
    #6620aa,
    #783db7,
    #8957c2,
    #6d3fae,
    #6539a8,
    #5e33a3,
    #552b9d,
    #5e34ae,
    #6d42c3
  );
  color: $font-color;
  font-family: $primary-font-family;
}

//// HEADER ////
.header {
  height: 90vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  align-items: center;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  &__home {
    justify-self: flex-start;
  }

  &__menu {
    justify-self: flex-end;
  }

  &__menu--desktop {
    display: $desktop-display;
  }

  &__menu--mobile {
    display: $mobile-display;
    outline-color: $secondary-color;
    background: transparent;
    cursor: pointer;
  }

  &__icon {
    width: 3rem;
  }
}

.main-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: $main-text-size;

  &__highlight {
    color: $highlight-color;
  }

  &__inseparable {
    white-space: nowrap;
  }
}

@mixin section {
}

.section {
  display: grid;

  &__header {
    width: 90%;
    margin-bottom: 3em;

    &--alternative {
      justify-self: flex-end;
    }
  }

  &__content {
    margin-bottom: 5em;
  }
}

//// ABOUT SECTION ////
.about {
  display: grid;
  grid-template-areas:
    'intro'
    'image'
    'details'
    'download';
  gap: 2em;

  &__image {
    width: 100%;
    border-radius: 20px;
    grid-area: image;
  }

  &__intro {
    display: grid;
    grid-area: intro;
    gap: 1em;
    font-size: 1.7rem;
  }

  &__highlight-text {
    color: $highlight-color;
  }

  &__details {
    grid-area: details;
    color: $secondary-color;
    font-size: 1.1rem;
  }
}

.download {
  width: 100px;
  padding: 0.5em 0;
  border: 2px solid $secondary-color;
  border-radius: 8px;
  outline-color: $secondary-color;
  display: flex;
  grid-area: download;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  background: transparent;
  color: $font-color;
  font-size: 1rem;
  cursor: pointer;

  &__icon {
    width: 10%;
    height: auto;
  }
}
