@import 'reset';

body {
  background: linear-gradient(
    -20deg,
    #be7cf6,
    #9142d8,
    #6620aa,
    #8957c2,
    #6d3fae,
    #4d2497,
    #6d42c3
  );
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 270px;
  margin: 1.3rem auto;
  color: #fff;
}

.header {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  align-items: center;

  &__text {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 2.8rem;

    &--highlight {
      color: #d25dda;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu-desktop {
    display: none;
  }
}
